<div class="row">
	<div class="event-content col-lg-offset-1 col-lg-10 ol-xs-12">
		<div class="body-box">
			<div class ="title-box">
				<span>Risicare</span>
				<h2>SCHEDULE EDIT</h2>
				<%= link_to admin_event_path(@event.id), method: :delete, data: {confirm: "削除しますか？"} do %>
					<p>DELETE</p>
				<% end %>
			</div>
			<div class="event-edit-box row">
				<div class ="col-xs-12">
					<%= form_with(model: @event, url: admin_event_path(@event.id), method: :patch, local: true) do |f| %>
						<%= render 'layouts/error_messages', model: f.object %>
						<div class="row">
							<div class ="form-group col-xs-offset-2 col-xs-8">
								<%= f.text_field :title, class: "post-form form-control ", placeholder: "タイトル" %>
							</div>
							<div class ="form-group col-xs-offset-2 col-xs-8">
								<%= f.text_field :place, class: "post-form form-control", placeholder: "場所" %>
							</div>
							<div class ="form-group col-xs-offset-2 col-xs-8">
								<%= f.datetime_field :start_time, class: "post-form form-control", placeholder: "開始時間" %>
							</div>
							<div class ="form-group col-xs-offset-2 col-xs-8">
								<%= f.datetime_field :end_time, class: "post-form form-control", placeholder: "終了時間" %>
							</div>
							<div class ="form-group col-xs-offset-2 col-xs-8">
								<%= f.text_area :body, class: "post-form form-control", placeholder: "詳細"%>
							</div>
							<div class ="button col-xs-offset-2 col-xs-8">
								<%= f.submit "更新", class: "btn submit-btn" %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>