<div class ="title-content col-md-9 col-lg-10 col-sm-12">
	<div class ="row">
		<div class="col-xs-12">
			<div class ="title-box">
				<span>Risicare</span>
				<h2>SCHEDULE</h2>	
				<%= link_to edit_admin_event_path(@event.id) do %>
					<p>EDIT</p>
				<% end %>			
			</div>
		</div>
	</div>
	<div class ="body-box">
		<div class ="event-show-box row">
			<h3 class ="col-xs-12"><%= @event.title %> in <%= @event.place %></h3>
			<h4 class ="col-xs-12"><%= l @event.start_time, format: :short %> ~ <%= l @event.end_time, format: :short %></h4>
			<p class ="col-xs-12"><%=safe_join(@event.body.split("\n"),tag(:br))%></p>
		</div>
	</div>
</div>