<div class="row">
	<div class ="info-content col-lg-offset-1 col-lg-10 col-xs-12">
		<div class ="body-box">
			<div class ="title-box">
				<span>Risicare</span>
				<h2>INFORMATION</h2>
				<%= link_to admin_information_path(@information.id), method: :delete, data: {confirm: "削除しますか？"} do %>
					<p>DELETE</p>
				<% end %>
			</div>
			<div class="info-post-box row">
				<div class ="col-xs-12">
					<%= form_with(model: @information, url: admin_information_path(@information.id), method: :patch, local: true) do |f| %>
						<%= render 'layouts/error_messages', model: f.object %>
						<div class ="information_image row">
							<%= attachment_image_tag @information, :image, :fill,300,300,  class: "image-squar", fallback:"logo.jpg", size:'300x300'%>
						</div>
						<%= f.attachment_field :image %>
						<div class="row">
							<div class="form-group col-xs-offset-2 col-xs-8">
								<%= f.text_field :title, class: "post-form form-control ", placeholder: "タイトル" %>
							</div>
							<div class="form-group col-xs-offset-2 col-xs-8">
								<%= f.text_area :body, class: "post-form form-control col-xs-12", placeholder: "詳細"%>
							</div>
						</div>
						<div class ="button row">
							<%= f.submit "投稿", class: "btn submit-btn btn-lg" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(function(){
	  $('#information_image').on('change', function (e) {
	  var reader = new FileReader();
	  reader.onload = function (e) {
	      $(".image-squar").attr('src', e.target.result);
	  }
	  reader.readAsDataURL(e.target.files[0]);
	});
	});
</script>