
<div class="title-content col-md-9 col-lg-10 col-sm-12">
	<div class="row">
		<div class="col-xs-12">
			<div class ="title-box">
				<span>Risicare</span>
				<h2>SCHEDULE</h2>
				<%= link_to new_admin_information_path do %>
					<p>NEW</p>
				<% end %>
			</div>
			<div class ="body-box">
				<div class ="info-index-box">
					<% @informations.each do |information| %>
					 	<%= link_to admin_information_path(information.id) do %>
					 		<div class="info-container row">
							 	<div class="col-lg-4">
							 		<%= attachment_image_tag information, :image, :fill, 150,150, class: "info-image"%>
							 	</div>
							 	<div class="info-text col-lg-8">
							 		<h3><%= information.title %></h3>
							 		<p><%= information.body %></p>
							 		<p><%= information.created_at.strftime('%Y/%m/%d ') %></p>
							 	</div>
							 </div>
					 	<% end %>
					<% end %>
				</div>
				<div class ="paginate-container col-lg-12">
					<%= paginate @informations %>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>