<div class ="container">
	<div class ="title-box row">
		<h2 class ="col-xs-8 col-xs-offset-2">INFORMATION</h2>
		<div class ="col-xs-8 col-xs-offset-2">
			<%= link_to edit_admin_information_path(@information.id) do %>
				<p>EDIT</p>
			<% end %>
		</div>
	</div>
	<div class ="body-box">
		<div class ="info-show-box row">
			<p class ="col-xs-12"><%= @information.created_at.strftime('%Y/%m/%d ') %></p>
			<h3 class ="col-xs-12"><%= @information.title %></h3>
			<div class ="col-xs-12"><%= attachment_image_tag @information, :image, :fill, 300,300, class: "info-image" %></div>
			<p class ="col-xs-12"><%=safe_join(@information.body.split("\n"),tag(:br))%></p>
		</div>
	</div>
</div>