
	<div class ="event-content col-lg-offset-1 col-lg-10 col-xs-12 ">
		<div class ="body-box">
			<div class ="title-box">
				<span>Risicare</span>
				<h2>SCHEDULE</h2>
				<% if admin_signed_in? %>
					<%= link_to new_admin_event_path do %>
						<p>NEW</p>
					<% end %>
				<% end %>
			</div>
			<div id ="calendar"></div>
			<table class="index-table table">
				<div class="col-md-offset-1 col-md-10 col-xs-12">
					<% @event.each do |event| %>
						<tr>
							<td>
								<%= link_to event_path(event.id) do %>
									<div class="pc-area col-md-offset-2 col-md-8">
										 <p class="col-xs-4">
										 	<%= l event.start_time, format: :date %><%= l event.start_time, format: :time %>~<%= l event.end_time, format: :time %>
										 </p>
										 <p class="col-xs-4"><%= event.title %></p>
										 <p class="col-xs-4"><%= event.place %></p>
									</div>
									<p class="phone-area col-xs-12">
										<%= l event.start_time, format: :date %><%= l event.start_time, format: :time %>~<%= l event.end_time, format: :time %><%= event.title %>
									</p>
								<% end %>
							</td>
						</tr>
					<% end %>
				</div>
			</table>
		</div>
	</div>
