
<div class ="info-content col-lg-offset-1 col-lg-10 col-xs-12">
	<div class ="body-box">
		<div class ="title-box">
			<span>Risicare</span>
			<h2>INFORMATION</h2>
			<% if admin_signed_in? %>
				<%= link_to edit_admin_information_path(@information.id) do %>
					<p>EDIt</p>
				<% end %>
			<% end %>
		</div>
		<div class ="info-show-box row">
			<div class="col-xs-12">
				<h3><%= @information.title %></h3>
				<p><%= @information.created_at.strftime('%Y/%m/%d ') %></p>
				<%= attachment_image_tag @information, :image, :fill, 300,300, class: "info-image" %>
				<div class="info-text-box">
					<div class="col-xs-12">
						<p><%=safe_join(@information.body.split("\n"),tag(:br))%></p>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>