<div class="main-content col-md-9 col-lg-10 col-sm-12">
	<div class="row">
		<div class="col-lg-8 col-md-12 col-sm-12">
			<div class="about-box">
				<div class="about-text">
					<h2><ABBR>ABOUT US</ABBR></h2>
					<p>abcdefghijklmnopqrstu</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-12 col-sm-12">
			<%= link_to staff_path do %>
				<div class="staff-box">
					<div class="goki-box">
						<div class="goki-img"></div>
						<div class="goki-mask-text">
							<h3>八木　龍弘</h3>
						</div>
					</div>
					<div class="yagi-box">
						<div class="yagi-img"></div>
						<div class="yagi-mask-text">
							<h3>北村　豪希</h3>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<div class="col-lg-8 col-md-12">
			 <div class="info-box">
			 	<% @informations.each do |information| %>
				 	<%= link_to information_path(information.id) do %>
				 		<div class="info-container row">
						 	<div class="col-lg-4">
						 		<%= attachment_image_tag information, :image, :fill, 150,150, class: "info-image"%>
						 	</div>
						 	<div class="info-text col-lg-8">
						 		<h3><%= information.title %></h3>
						 		<p><%= information.body %></p>
						 		<p><%= information.created_at.strftime('%Y/%m/%d ') %></p>
						 	</div>
						 </div>
				 	<% end %>
			 	<% end %>
			 </div>
		</div>

		<div class="sponsor col-lg-4 col-md-12 col-sm-12">
			<div class="event-box">スケジュール</div>
			<div class="sponsor-box">スポンサー</div>
		</div>
	</div>
</div>
