<!DOCTYPE html>
<html>
  <head>
    <title>RisicareHP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <div class ="container">
            <div class ="header-logo">
                <%= link_to "RISICARE", root_path, class: "header-logo" %>
            </div>
            <div class ="header-list">
                <div class ="row">
                    <div class ="col-xs-3">
                        <li><%= link_to "INFORMATION", informations_path, class: "header-list" %></li>
                    </div>
                    <div class ="col-xs-3">
                        <li><%= link_to "EVENT", events_path, class: "header-list" %></li>
                    </div>
                    <div class ="col-xs-3">
                        <li><%= link_to "SCHOOL", school_path, class: "header-list" %></li>
                    </div>
                    <div class ="col-xs-3">
                        <li><%= link_to "STAFF", staff_path, class: "header-list" %></li>
                    </div>
                </div>
            </div>
        </div>
      </header>
    <%= yield %>
  </body>
</html>
